# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Folders
build/
dist/
_hilsort.egg-info/
hilsort.egg-info/
.pytest_cache/
.vscode

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Extra
*.pyc
.eggs
.cache
.DS_Store
.idea
